/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  /* google search BBC website for font */
}

body {
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

header {
  height: 40px;
  background: black;
  color: white;
}

/* header nav {
  width: 100%;
} */

header nav * {
  float: left;
  height: 40px;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

/* bbc logo */
header nav img {
  float: left;
  width: 10%;
  border-right: 1px solid white;
}
/* sign-in element in nav */
#signin {
  width: 15%;
  /* border-right: 1px solid white; */
}

header nav ul {
  float: left;
  width: 70%; /* equal to 720px on laptop */
  list-style: none;
  padding-inline-start: 0; /* user agent stylesheet had 40px */
  margin: 0;
}

header nav ul li {
  border-right: 1px solid white;
  padding-top: 10px;
}

#signin img {
  width: 30%;
  padding-bottom: 10px;
}

header nav form {
  width: 20%;
  padding-top: 6px;
}

header nav form input {
  width: 90%;
  height: 30px;
   
}

header nav ul li, header nav ul li a {
  width: 90px;
  text-align: center;
}


div > h1 {
  float: left;
  width: 85%;
  padding-top: 20px;
  text-align: left;
  margin: 0;
}

div span {
  width: 15%;
  float: left;
  font-size: 2rem;
  padding: 20px 0 0 35px;
  color: grey;
}

.topHeadlines {
  float: left;
  width: 100%;
}

section.headline {
  background-image: url("bbc-headline.png");
  background-size: 50%;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  margin: 0 0 0 10px;
}

h3 {
  font-size: 3rem;
  padding-top: 260px;
  padding-left: 20px;
}

section.headline p, section.headline span {
  font-size: 1.7rem;
  color: rgb(255, 255,255);
}

section.headline p {
  padding-left: 20px;
}

section.headline span {
  border-left: 3px solid red;
  margin-left: 20px;
  padding-left: 10px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
